<div class="item-row-area power-itemlist mainpower-row">
    <div class="dragrow headlineNormal power-itemlist" data-itemid="{{mainpower._id}}">
        <div class="width-iconbox draggable"><i class="icon fa-solid fa-grip-vertical"></i></div>

        <div class="splatFont width-namebox">{{mainpower.name}}</div>

        <div class="resource-value" 
            data-value="{{mainpower.system.value}}" 
            data-itemid="{{mainpower._id}}">

            {{#numLoop (add mainpower.system.max mainpower.system.level)}}    
                {{#if (gt ../mainpower.system.max 5)}}   
                    <span class="supernaturalAttribute resource-value-step" data-type="{{../config.sheettype.mortal}}" data-index="{{this}}"></span>                            
                {{else}}                     
                    <span class="resource-value-step" data-type="{{../config.sheettype.mortal}}" data-index="{{this}}"></span>                            
                {{/if}}
                
            {{/numLoop}}
        </div>      
    </div>
    <div class="iconBox">

        <a class="pointer send-chat" title="{{localize 'wod.labels.send'}}" data-itemid="{{mainpower._id}}"><i class="icon fa-solid fa-comment-dots"></i></a>

        {{#if (eq locked false)}} 
            <a class="pointer clearPower" title="{{localize 'wod.labels.power.removebonus.headline'}}" data-powertype="main" data-item-id="{{item._id}}"><i class="icon fa-solid fa-lock"></i></a>
            <a class="pointer item-edit" title="{{localize 'wod.labels.edit.headline'}}" data-type="{{mainpower.type}}" data-item-id="{{mainpower._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
            <a class="pointer item-delete" title="{{localize 'wod.labels.remove.headline'}}" data-type="{{mainpower.type}}" data-item-id="{{mainpower._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
        {{/if}}

        {{#if (showToolTip mainpower)}}
            <i class="pointer icon collapsible button fa-solid fa-expand"
                    title="{{localize 'wod.labels.show.description'}}"
                    data-itemid="{{mainpower._id}}"></i>
        {{else}}
            <i class="icon no-description-disabled fa-solid fa-solid fa-expand"></i>
        {{/if}}

        <a class="pointer" title="LANG: Menu" data-itemid="{{mainpower._id}}"><i class="icon fa-solid fa-ellipsis-vertical"></i></a>
    </div>
</div>
<div class="description" data-itemid="{{mainpower._id}}">

    {{{getToolTip_v2 mainpower.system.description mainpower.system.details mainpower.system.bonuslist actor}}}

</div>

<div>
    {{#each (getPowerList actor mainpower._id) as |item id|}}
        {{> "systems/worldofdarkness/templates/actor/parts/power_list.hbs" item=item config=../config actor=../actor locked=../locked showclear=true}}
    {{/each}}
</div>

