{{log "navigation"}}

<div class="tabs-container">
    <nav class="sheet-tabs tabs" data-group="primary">
        {{#each tabs as |tab|}}
            <div class="{{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}" title="{{localize tab.title}}">
                <div class="navicon">
                    {{{tab.icon}}}
                </div>
            </div>
        {{/each}}
    </nav>
</div>