<div class="sheet-area flex-columns">
    <div class="clearareaBox area-box">

        <div class="sheet-headline sheet-banner splatFont"><span class="sheet-banner-text">{{localize "wod.power.edges"}}</span></div>

        {{#each (getMainPowerList actor "wod.types.edge") as |item id|}}
            {{> "systems/worldofdarkness/templates/actor/parts/mainpower_list.hbs" mainpower=item config=../config actor=../actor locked=../locked}}
        {{/each}}
    </div>
</div>

{{#if actor.system.listdata.powers.edges.hasunlistededges}}
    <div class="sheet-area unsorted-area flex-columns">
        <div class="headlineNormal info-box">{{localize "wod.power.unsortededges"}}</div>

        <div class="area-box">
            {{#each actor.system.listdata.powers.edges.unlistededges as | item id|}}

                <div class="row">
                    <div class="pullLeft headlineNormal width-namebox vrollable" 
                        data-type="{{../config.sheettype.hunter}}"
                        data-object="SortEdgePower"
                        data-rollitem="true"
                        data-itemid="{{item._id}}">{{item.name}}</div>
                    
                    {{#if (eq ../locked false)}}
                        <div class="power-iconbox">
                            <a class="item-delete" title="{{localize 'wod.labels.remove.edgepower'}}" data-type="Edge" data-item-id="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}