<form class="{{cssClass}} {{sheettype}}" autocomplete="off">

    <div class="dialog-area">
        <div class="headlineGroup splatFont">{{localize "wod.dialog.variant.sheettype"}}</div>
        <div class="infobox headline splatFont">{{localize "wod.dialog.variant.description"}}</div>

        {{#if (eq object.type config.sheettype.changeling)}}
            <div class="infobox centerText">
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'general'}}" data-value="general">{{localize "wod.dialog.variant.changeling"}}</button>
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'dauntain'}}" data-value="dauntain">{{localize config.variant.changeling.dauntain}}</button>
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'darkkin'}}" data-value="darkkin">{{localize config.variant.changeling.darkkin}}</button>
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'inanimae'}}" data-value="inanimae">{{localize config.variant.changeling.inanimae}}</button>
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'nunnehi'}}" data-value="nunnehi">{{localize config.variant.changeling.nunnehi}}</button>
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'menehune'}}" data-value="menehune">{{localize config.variant.changeling.menehune}}</button>
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'thallain'}}" data-value="thallain">{{localize config.variant.changeling.thallain}}</button>
            </div>        
        {{/if}}

        {{#if (eq object.type config.sheettype.vampire)}}
            <div class="infobox centerText">
                <button class="actionbutton dialog-two-button fullSplatColor button {{isActive object.variant 'general'}}" data-value="general">{{localize "wod.dialog.variant.vampire"}}</button>
                <button class="actionbutton dialog-two-button fullSplatColor button {{isActive object.variant 'kindredeast'}}" data-value="kindredeast">{{localize config.variant.vampire.kindredeast}}</button>
            </div>
        {{/if}}

        {{#if (eq object.type config.sheettype.wraith)}}
            <div class="infobox centerText">
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'general'}}" data-value="general">{{localize "wod.dialog.variant.wraith"}}</button>
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'shadow'}}" data-value="shadow">{{localize config.variant.wraith.shadow}}</button>
            </div>
        {{/if}}

        {{#if (eq object.type config.sheettype.exalted)}}
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'solar'}}" data-value="solar">{{localize config.variant.exalted.solar}}</button>
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'lunar'}}" data-value="lunar">{{localize config.variant.exalted.lunar}}</button>
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'dragon'}}" data-value="dragon">{{localize config.variant.exalted.dragon}}</button>
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'sidereal'}}" data-value="sidereal">{{localize config.variant.exalted.sidereal}}</button>
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'abyssal'}}" data-value="abyssal">{{localize config.variant.exalted.abyssal}}</button>
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'infernal'}}" data-value="infernal">{{localize config.variant.exalted.infernal}}</button>
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'alchemical'}}" data-value="alchemical">{{localize config.variant.exalted.alchemical}}</button>
            <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'liminal'}}" data-value="liminal">{{localize config.variant.exalted.liminal}}</button>
        {{/if}}

        {{#if (eq object.type config.sheettype.changingbreed)}}
            <div class="infobox centerText">
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Ajaba'}}" data-value="Ajaba">{{localize 'wod.bio.feraname.ajaba'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Ananasi'}}" data-value="Ananasi">{{localize 'wod.bio.feraname.ananasi'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Bastet'}}" data-value="Bastet">{{localize 'wod.bio.feraname.bastet'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Corax'}}" data-value="Corax">{{localize 'wod.bio.feraname.corax'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Gurahl'}}" data-value="Gurahl">{{localize 'wod.bio.feraname.gurahl'}}</button>				
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Kitsune'}}" data-value="Kitsune">{{localize 'wod.bio.feraname.kitsune'}}</button>	
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Mokole'}}" data-value="Mokole">{{localize 'wod.bio.feraname.mokole'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Nagah'}}" data-value="Nagah">{{localize 'wod.bio.feraname.nagah'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Nuwisha'}}" data-value="Nuwisha">{{localize 'wod.bio.feraname.nuwisha'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Ratkin'}}" data-value="Ratkin">{{localize 'wod.bio.feraname.ratkin'}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Rokea'}}" data-value="Rokea">{{localize 'wod.bio.feraname.rokea'}}</button>
            </div>

            <div class="infobox centerText">
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Apis'}}" data-value="Apis">{{localize "wod.bio.feraname.apis"}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Camazotz'}}" data-value="Camazotz">{{localize "wod.bio.feraname.camazotz"}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Grondr'}}" data-value="Grondr">{{localize "wod.bio.feraname.grondr"}}</button>
            </div>
            <!-- <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Khara'}}">Khara</button>
            <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Okuma'}}">Okuma</button>
            <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'Ao'}}">Ao</button> -->
        {{/if}}

        {{#if (eq object.type config.sheettype.mortal)}}
            <div class="infobox centerText">
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'general'}}" data-value="general">{{localize "wod.dialog.variant.mortal"}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'orpheus'}}" data-value="orpheus">{{localize config.variant.mortal.orpheus}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'sorcerer'}}" data-value="sorcerer">{{localize config.variant.mortal.sorcerer}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'autumnpeople'}}" data-value="autumnpeople">{{localize config.variant.mortal.autumnpeople}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'enchanted'}}" data-value="enchanted">{{localize config.variant.mortal.enchanted}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'ghoul'}}" data-value="ghoul">{{localize config.variant.mortal.ghoul}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'kinfolk'}}" data-value="kinfolk">{{localize config.variant.mortal.kinfolk}}</button>        
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'truefaith'}}" data-value="truefaith">{{localize config.variant.mortal.truefaith}}</button>
            </div>
        {{/if}}

        {{#if (eq object.type config.sheettype.creature)}}
            <div class="infobox centerText">
                <button class="actionbutton dialog-three-button fullSplatColor button {{isActive object.variant 'general'}}" data-value="general">{{localize "wod.dialog.variant.creature"}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'chimera'}}" data-value="chimera">{{localize config.variant.creature.chimera}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'familiar'}}" data-value="familiar">{{localize config.variant.creature.familiar}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'construct'}}" data-value="construct">{{localize config.variant.creature.construct}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'spirit'}}" data-value="spirit">{{localize config.variant.creature.spirit}}</button>  
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'warwolves'}}" data-value="warwolves">{{localize config.variant.creature.warwolves}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'anurana'}}" data-value="anurana">{{localize config.variant.creature.anurana}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'samsa'}}" data-value="samsa">{{localize config.variant.creature.samsa}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'kerasi'}}" data-value="kerasi">{{localize config.variant.creature.kerasi}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'yeren'}}" data-value="yeren">{{localize config.variant.creature.yeren}}</button>
                <button class="dialog-three-button fullSplatColor button actionbutton {{isActive object.variant 'earthbound'}}" data-value="earthbound">{{localize config.variant.creature.earthbound}}</button>
            </div>
        {{/if}}
    </div>

    <div class="centerText">
        <button id="actionButton" class="button fullSplatColor savebutton dialog-two-button">{{localize "wod.dialog.save"}}</button>
    </div>

</form>