<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">						

	<div class="dialog-area">	
		{{#if isGM}}
			<div class="infobox bioInformationArea floating-label-group">
				<input class="sheet-infoValues editable" name="system.id" type="text" value="{{item.system.id}}" data-dtype="String" autocomplete="off" autofocus required />
				<span class="floating-label">{{localize "wod.labels.ability.id"}}</span>
			</div>
			<div class="information-area">{{localize "wod.labels.ability.idhint"}}</div>

			<div class="infobox bioInformationArea floating-label-group">
				<input class="sheet-infoValues editable" name="system.group" type="text" value="{{item.system.group}}" data-dtype="String" autocomplete="off" autofocus required />
				<span class="floating-label">{{localize "wod.labels.advantage.groupname"}}</span>
			</div>

			<div class="infobox bioInformationArea floating-label-group">
				<input class="sheet-infoValues editable" name="system.order" type="text" value="{{item.system.settings.order}}" data-dtype="Number" autocomplete="off" autofocus required />
				<span class="floating-label">{{localize "wod.labels.advantage.order"}}</span>
			</div>
		{{/if}}

		<!-- Virtue special handling -->
		{{#if (and (eq item.system.group "virtue") (ne item.system.id "courage"))}}		
			{{#if (eq item.system.id "conscience")}}
				<div class="infobox bioInformationArea floating-label-group">
					<select class="sheet-infoValues editable" name="system.label" data-dtype="String">
						{{selectOptions listData.Conscience selected=item.system.label localize=false}}
					</select>
					<span class="floating-label">{{localize "wod.labels.ability.sheetname"}}</span>
				</div>
			{{else if (eq item.system.id "selfcontrol")}}
				<div class="infobox bioInformationArea floating-label-group">
					<select class="sheet-infoValues editable" name="system.label" data-dtype="String">
						{{selectOptions listData.Selfcontrol selected=item.system.label localize=false}}
					</select>
					<span class="floating-label">{{localize "wod.labels.ability.sheetname"}}</span>
				</div>
			{{else}}
				<div class="infobox bioInformationArea floating-label-group">
					<input class="sheet-infoValues editable" name="system.label" type="text" value="{{item.system.label}}" data-dtype="String" autocomplete="off" autofocus required />
					<span class="floating-label">{{localize "wod.labels.ability.sheetname"}}</span>
				</div>
			{{/if}}
		{{else}}
			<div class="infobox bioInformationArea floating-label-group">
				<input class="sheet-infoValues editable" name="system.label" type="text" value="{{item.system.label}}" data-dtype="String" autocomplete="off" autofocus required />
				<span class="floating-label">{{localize "wod.labels.ability.sheetname"}}</span>
			</div>
		{{/if}}

		<div class="information-area">{{localize "wod.labels.ability.mandatory"}}</div>
	</div>

	<div class="dialog-area">

		<div class="flex-rows">
			<div class="item-column two-columns">
				<div class="infobox">
					<label class="headlineBio headlineSettings splatFont" for="data.system.settings.usepermanent">{{localize "wod.labels.advantage.haspemanent"}}</label>
					<input name="system.settings.usepermanent" type="checkbox" {{isChecked item.system.settings.usepermanent}}></input>
				</div>

				<div class="infobox">
					<label class="headlineBio headlineSettings splatFont" for="data.system.settings.usetemporary">{{localize "wod.labels.advantage.hastemporary"}}</label>
					<input name="system.settings.usetemporary" type="checkbox" {{isChecked item.system.settings.usetemporary}}></input>
				</div>

				<div class="infobox">
					<label class="headlineBio headlineSettings splatFont" for="data.system.settings.useroll">{{localize "wod.labels.advantage.canroll"}}</label>
					<input name="system.settings.useroll" type="checkbox" {{isChecked item.system.settings.useroll}}></input>
				</div>
			</div>

			<div class="item-column two-columns">
				<div class="infobox">
					<label class="headlineBio headlineSettings splatFont" for="data.system.settings.useroll">{{localize "wod.labels.advantage.usepermanenttemporary"}}</label>
					<input name="system.settings.usebothrolls" type="checkbox" {{isChecked item.system.settings.usebothrolls}}></input>
				</div>

				<div class="infobox">
					<label class="headlineBio headlineSettings splatFont" for="data.system.settings.highertemporary">{{localize "wod.labels.advantage.temporarycanbehigher"}}</label>
					<input name="system.settings.highertemporary" type="checkbox" {{isChecked item.system.settings.highertemporary}}></input>
				</div>
			</div>
		</div>

		{{#if item.system.settings.usepermanent}}
			<div class="infobox bioInformationArea floating-label-group">
				<input class="sheet-infoValues editable" name="system.permanent" type="text" value="{{item.system.permanent}}" data-dtype="Number" autocomplete="off" autofocus required />
				<span class="floating-label">{{localize "wod.labels.advantage.permanentstart"}}</span>
			</div>
		{{/if}}

		<div class="infobox bioInformationArea floating-label-group">
			<input class="sheet-infoValues editable" name="system.max" type="text" value="{{item.system.max}}" data-dtype="Number" autocomplete="off" autofocus required />
			<span class="floating-label">{{localize "wod.labels.advantage.max"}}</span>
		</div>

		{{> "systems/worldofdarkness/templates/items/parts/description.hbs" proseheadline="wod.labels.description" locked=locked headline=false prosename="system.description" prosevalue=description proseenriched=enrichedDescription}}

	</div>		
			
</section>